<h1>
  Grader
</h1>
<h2>Add Agent</h2>
<label>Name</label>
<input type="text" ng-model="agentName">
</br>
<label>Disponibilidade</label>
<input type="text" ng-model="agentAvailability"> vezes
</br>
<label>Imagem</label>
url: <input type="text" ng-model="agentImage"> 
<button ng-click="$ctrl.addAgent(agentName, agentAvailability, agentImage)">Adicionar Agent</button>
 
 </br>




<h2>Add Schedule</h2>
<label>Nome</label>
<input type="text" ng-model="newSchedule">
</br>
<button ng-click="$ctrl.addSchedule(newSchedule)">Add Schedule</button>
</br>
</br>
</br>
</br>

<div>
	<div ng-repeat="item in $ctrl.schedules track by item.name">
		<span>{{item.name}}</span>
		<ul >
			<li ng-repeat="activity in item.activities track by activity">{{activity}}</li>
		</ul>
		<input type="text" ng-model="newActivity">
		<button ng-click="$ctrl.addActivity(item, newActivity)">add Activity</button>
	</div>		
</div>

</br>
<h2>Vincular Agent a Grade</h2>
<select name="gradeAgentSelect" id="gradeAgentSelect" ng-model="gradeAgent">
  <option ng-repeat="agent in $ctrl.agents track by agent.id" value="{{agent.id}}">{{agent.name}}</option>
  
</select>

<button ng-click="$ctrl.linkGradeAgent(gradeAgent)">Vincular Agent</button>

</br>

<table>
<thead>
  <tr>
	  <th>
	  </th>
     <th ng-repeat="gradeAgent in $ctrl.gradeAgents track by gradeAgent.id">
     	{{gradeAgent.agent.name}}
     </th>
  </tr>
 </thead>
<body>
	<tr ng-repeat="aula in $ctrl.schedules track by aula.name">
		<th>
		{{aula.name}}
	  </th>
		<th ng-repeat="gradeAgent in $ctrl.gradeAgents track by gradeAgent.id">
			<input>
		</th>
	</tr>
</body>
</table>

