
<div class="header">
 	<md-subheader class="sub-header">
      <h2>Lista de Professores</h2>
       
	</md-subheader>
	<md-button class="bt-add md-fab" aria-label="Eat cake">
	        <md-icon md-svg-src="img/material-design-icons-master/content/svg/design/ic_add_24px.svg"></md-icon>
	    </md-button>
</div>

<md-card>

	<md-subheader>
		<h3>Adicionar Professor</h3>
	</md-subheader>
	
    <md-card-content>
    	<md-input-container style="width: 100%">
	        <label>Nome</label>
	        <input ng-model="agentName">
	    </md-input-container>

	    <md-input-container style="width: 100%">
	        <label>Disponibilidade</label>
	        <input ng-model="agentAvailability">
	    </md-input-container>
	    <md-input-container style="width: 100%">
	        <label>Imagem</label>
	        <input ng-model="agentImage">
	    </md-input-container>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="$ctrl.addAgent(agentName, agentAvailability, agentImage)">Adicionar</md-button>
    </md-card-actions>
</md-card>

<md-content id="main" layout="horizontal" layout-align="center">
    

    <md-list style="width: 100%;">

        <div >
            <md-card ng-repeat="agent in $ctrl.agents track by agent.id" value="{{agent.id}}">
                <md-item>
                   <p>{{agent.name}}</p>
                </md-item>
            </md-card>
        </div>
    </md-list>
</md-content>


 
 </br>




<h2>Add Schedule</h2>
<label>Nome</label>
<input type="text" ng-model="newSchedule">
</br>
<button ng-click="$ctrl.addSchedule(newSchedule)">Add Schedule</button>
</br>
</br>
</br>
</br>

<div>
	<div ng-repeat="item in $ctrl.schedules track by item.name">
		<span>{{item.name}}</span>
		<ul >
			<li ng-repeat="activity in item.activities track by activity">{{activity}}</li>
		</ul>
		<input type="text" ng-model="newActivity">
		<button ng-click="$ctrl.addActivity(item, newActivity)">add Activity</button>
	</div>		
</div>

</br>
<h2>Vincular Agent a Grade</h2>
<select name="gradeAgentSelect" id="gradeAgentSelect" ng-model="gradeAgent">
  <option ng-repeat="agent in $ctrl.agents track by agent.id" value="{{agent.id}}">{{agent.name}}</option>
  
</select>

<button ng-click="$ctrl.linkGradeAgent(gradeAgent)">Vincular Agent</button>

</br>

<table>
<thead>
  <tr>
	  <th>
	  </th>
     <th ng-repeat="gradeAgent in $ctrl.gradeAgents track by gradeAgent.id">
     	{{gradeAgent.agent.name}}
     </th>
  </tr>
 </thead>
<body>
	<tr ng-repeat="aula in $ctrl.activitiesList() track by $index"">
		<th>
		{{aula}}
	  </th>
		<th ng-repeat="gradeAgent in $ctrl.gradeAgents track by gradeAgent.id">
			<input>
		</th>
	</tr>
</body>
</table>

