/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.header{
	position: relative;
}

.header .bt-add{
	position: absolute;
	top:93px;
	right: 25px;
}

.sub-header{
	background: url("img/bg/google-material-design-wallpaper-2.jpg");
	height: 130px;
    background-position: 50% 0px;
    background-repeat: no-repeat;
}