
<div class="header">
 	<md-subheader class="sub-header">
      <h2>Lista de Professores</h2>
       
	</md-subheader>
	<md-button class="bt-add md-fab" aria-label="Eat cake" ng-click="agentshow = true" ng-class="{ active: agentshow }">
	        <md-icon md-svg-src="img/material-design-icons-master/content/svg/design/ic_add_24px.svg"></md-icon>
	    </md-button>
</div>

<md-card ng-show="agentshow">

	<md-subheader>
		<h3>Adicionar Professor</h3>
	</md-subheader>
	
    <md-card-content>
    	<md-input-container style="width: 100%">
	        <label>Nome</label>
	        <input ng-model="agentName">
	    </md-input-container>

	    <md-input-container style="width: 100%">
	        <label>Disponibilidade</label>
	        <input ng-model="agentAvailability">
	    </md-input-container>
	    <md-input-container style="width: 100%">
	        <label>Imagem</label>
	        <input ng-model="agentImage">
	    </md-input-container>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
    	<md-button 
    		ng-click="agentshow = true"  
    		ng-class="{ active: agentshow }">
    		Cancelar
		</md-button>

        <md-button 
      		ng-click="agentshow = true && $ctrl.addAgent(agentName, agentAvailability, agentImage)"  
      		ng-class="{ active: agentshow }">
      		Adicionar
        </md-button>
    </md-card-actions>
</md-card>

<md-content id="main" layout="horizontal" layout-align="center">
    <md-list style="width: 100%;">
        <div >
            <md-card ng-repeat="agent in $ctrl.agents track by agent.id" value="{{agent.id}}">
                <md-item>
                   <p>{{agent.name}}</p>
                </md-item>
            </md-card>
        </div>
    </md-list>
</md-content>